/* Dropdown Button */
.dropbtn {
  background-color: whitesmoke;
  color: black;
  padding: 10;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px 0 0 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: whitesmoke;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

  position: relative;
  display: inline-block;
  height: 40px;
  margin: 0 10px 0 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(25,25,25);;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* imagebutton*/
.image-button{
  background-color: transparent;
  background-image: url("/assets/info.png");
  background-size: contain;   /* skaliert das Bild vollständig */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 100%;               /* immer so hoch wie #head */
  aspect-ratio: 1 / 1;        /* quadratisch (optional) */
  flex-shrink: 0;      /* verhindert, dass er kleiner gedrückt wird */
  min-width: 20px; /* optional: Mindestgröße */
}
